.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--content-bg);
  color: var(--content-text);
}

.editor textarea {
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  font-family: 'Roboto Mono', monospace;
}

.editor textarea:focus {
  /** Allow outline to show in high contrast mode **/
  outline: 2px transparent solid;
}

@media and (min-width: 64rem) {
  .editor button {
    display: hidden;
  }
}