.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 300ms ease-out;
}

.content.content--menu-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transform: translate3d(250px, 0, 0);
}