.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 300ms ease-out;
  background-color: var(--c-dark-gray-2);
  scrollbar-color: var(--c-orange) transparent;
  scrollbar-width: thin;
}

.content.content--menu-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transform: translate3d(250px, 0, 0);
}