.modal {
  background-color: var(--c-dark-gray-1);
  color: #fff;
  border-radius: .5rem;
  padding: 1.2rem;
  margin: 0 2rem;
  max-width: 20rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.modal-title {
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.modal-btn {
  background-color: var(--c-orange);
  padding: .5rem 1rem;
  text-align: center;
  border-radius: .5rem;
  width: 100%;
}