.header {
  display: flex;
  color: #fff;
  background-color: var(--c-dark-gray-2);
}

.header__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  padding: .5rem 1rem;
}

.header input {
  max-width: 10rem;
  padding: .25rem;
  height: fit-content;
  background-color: inherit;
}

.header input:focus, .header input:focus-visible {
  border-bottom: 1px solid #fff;
  outline: none;
}

.menu-btn {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background-color: var(--c-dark-gray-3);
}

.menu-btn:hover {
  background-color: var(--color-orange);
}

.header__btns {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}