.accent-btn {
  padding: .75rem 1rem;
  border-radius: .5rem;
  background-color: var(--c-orange);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
              0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: #fff;
}

.accent-btn:hover {
  background-color: var(--c-light-orange);
}