.doc-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: .25rem;
}

.doc-btn:hover {
  background-color: var(--c-dark-gray-2);
}

.doc-btn__date {
  font-weight: 300;
  font-size: .875rem;
  color: var(--c-light-gray);
}

.doc-btn.active .doc-btn__name {
  color: var(--c-orange);
}

.doc-btn:last-child {
  margin-bottom: 0;
}