.doc-btn button {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.doc-btn__date {
  font-weight: 400;
  color: var(--c-light-gray);
}

.doc-btn__name: {
  color: var(--c-orange);
}

.doc-btn:last {
  margin-bottom: 0;
}